        @tailwind base;
        @tailwind components;
        @tailwind utilities;
        .render {
            -webkit-column-count: 3;
            -moz-column-count: 3;
            column-count: 3;
            -webkit-column-width: 33%;
            -moz-column-width: 33%;
            column-width: 33%;
        }
        
        .smallend {
            -webkit-column-count: 1;
            -moz-column-count: 1;
            column-count: 1;
            -webkit-column-width: 99%;
            -moz-column-width: 99%;
            column-width: 99%;
        }
        
         ::-webkit-scrollbar {
            width: 0.5rem;
            height: 0.4rem;
        }
        
         ::-webkit-scrollbar-track {
            width: 0.5rem;
            height: 0.2rem;
            background-color: white;
        }
        
         ::-webkit-scrollbar-thumb {
            width: 0.4rem;
            height: 0.4rem;
            background-color: grey;
        }
        
         ::-webkit-scrollbar-thumb:hover {
            background-color: black;
        }
        
         ::-webkit-scrollbar-button {
            width: 0.5rem;
        }
        
        .photo:hover+.overlay {
            opacity: 1;
            transform: translateY(0);
        }
        /*Forum css starts now*/
        
        .box {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            width: 25rem;
            padding: 2.5rem;
            box-sizing: border-box;
            border: 1px solid #dadce0;
            -webkit-border-radius: 8px;
            border-radius: 8px;
            box-shadow: 2px 2px 8px 2px black;
        }
        
        .box h2 {
            margin: 0px 0 -0.125rem;
            padding: 0;
            color: #fff;
            text-align: center;
            color: #332124;
            font-size: 24px;
            font-weight: 400;
        }
        
        .box .inputBox {
            position: relative;
        }
        
        .box .inputBox input {
            width: 93%;
            padding: 0.625rem 10px;
            font-size: 1rem;
            letter-spacing: 0.062rem;
            margin-bottom: 1.875rem;
            border: 1px solid rgb(13, 7, 48);
            background: transparent;
            border-radius: 4px;
        }
        
        .box .inputBox label {
            position: absolute;
            top: 0;
            left: 10px;
            padding: 0.625rem 0;
            font-size: 1rem;
            color: grey;
            pointer-events: none;
            transition: 0.5s;
        }
        
        .box .inputBox input:focus~label,
        .box .inputBox input:valid~label,
        .box .inputBox input:not([value=""])~label {
            top: -1.125rem;
            left: 10px;
            color: rgb(4, 4, 51);
            font-size: 0.75rem;
            background-color: white;
            height: 10px;
            padding-left: 5px;
            padding-right: 5px;
        }
        
        .box .inputBox input:focus {
            outline: none;
            border: 2px solid #1a73e8;
        }
        
        .box input[type="submit"] {
            border: none;
            outline: none;
            color: #fff;
            background-color: #1a73e8;
            padding: 0.625rem 1.25rem;
            cursor: pointer;
            border-radius: 0.312rem;
            font-size: 1rem;
            float: right;
        }
        
        .box input[type="submit"]:hover {
            background-color: #287ae6;
            box-shadow: 0 1px 1px 0 rgba(66, 133, 244, 0.45), 0 1px 3px 1px rgba(66, 133, 244, 0.4);
        }
        /*Forum css end now*/
        
        .fileupload::-webkit-file-upload-button {
            visibility: hidden;
            color: transparent;
            background-color: transparent;
        }
        
        .uploadbtn::-webkit-file-upload-button {
            width: 8rem;
            height: 5rem;
        }
        
        .dragbtn::-webkit-file-upload-button {
            height: 12rem;
            width: 17rem;
        }